*
{
    margin: 0;
    padding: 0;
}

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$quaternaire:#f6f6f6;
$quinquenaire: #fff;

body{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
/*loader*/

.container{
    
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $quinquenaire;
    animation: container 2.5s;
    animation-fill-mode: both;
    animation-delay: 3s;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;

}

.loader {

    height: 20px;
    position: absolute;
    width: 250px;
    line-height: 100%;
    vertical-align: middle;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.loader--dot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
}
.loader--dot:first-child {
    background-color: $primaire;
    animation-delay: 0.2s;
}
.loader--dot:nth-child(2) {
    background-color: $secondaire;
    animation-delay: 0.1s;
}
.loader--dot:nth-child(3) {
    background-color: $tertiaire;
    animation-delay: 0s;
}

.loader--text {
    position: absolute;
    width: 100%;
    top: 200%;
    left: 0;
    right: 0;
    margin: auto;
    background: linear-gradient(to left,$primaire, $secondaire);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 15px;
}
.loader--text:after {
    content: "ohmyfood";
    font-weight: bold;
    animation-name: loading-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
  
@keyframes loader {
    15% {
      transform: translateX(0);
    }
    45% {
      transform: translateX(230px);
    }
    65% {
      transform: translateX(230px);
    }
    95% {
      transform: translateX(0);
    }
}
@keyframes loading-text {
    0% {
      content: "ohmyfood";
    }
    25% {
      content: "ohmyfood.";
    }
    50% {
      content: "ohmyfood..";
    }
    75% {
      content: "ohmyfood...";
    }
}
@keyframes container {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
        z-index: -10;
    }
}


img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.wrapper{
    margin: 0 auto;
}


a{
    text-decoration: none;
}

.logo{
    font-family: Shrikhand, sans-serif;
    position: relative;
    
}


h1{
    font-family: Shrikhand, sans-serif;
    font-size: 25px;
}

h2,h3, h4, p{
    font-family: roboto, sans-serif;
    color: black;
}

h2{
    font-weight: bold ;
}

h3,h4{
    font-weight: 500;
}

p{
    font-weight: 100;
}


.icone{
    color: black;

}

.bouton{
    width: 210px;
    height: 50px;
    border-radius: 50px 50px 50px 50px;
    border: 1px solid;
    color: $quinquenaire;
    background: linear-gradient(to top left, $primaire, $secondaire); 
    box-shadow: 3px 3px 3px #f5efef;
    cursor: pointer;
    font-weight: bold;
}

.bouton:hover{
    background-color: lighten(#9356dc, 10%);
    background-blend-mode: lighten;
    box-shadow: darken(#f5efef, 10%) 4px 4px 6px;
}

header{
    height: 62px;
    padding: 30px 0 20px 0; 
    align-items: center;
    
}



header .logo{
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    
   
}

.localisation{
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: #eaeaea;
    padding: 15px 0;
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
}

.choix{
    text-align: center;
    background-color: $quaternaire; 
    padding: 45px 20px 55px 20px;
    
}

.choix p{
    padding: 20px 0 35px 0;
    white-space: normal;
    max-width: 100%;
}

.fonctionnement{
    background-color: $quinquenaire;
    height: 440px;
    padding: 50px 20px 0 20px;
}

.fonctionnement_bloc{
    height: 275px;    
}

.bloc{
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    background-color: $quaternaire;
    border-radius: 20px 20px 20px 20px;
    border: solid 1px $quinquenaire;
    margin: 20px 0;
    position: relative;

}

.bloc_number
{
    position: relative;
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: $primaire;
    border-radius: 50%;
    color: $quinquenaire;
    line-height: 25px;
    right: 10px;
    margin: 30px 0;
}

.boc p{
    margin: 30px 10px;

}

.bloc:hover{
    background: #f2eafb;
}

.bloc:hover .fas{
    color: $primaire;
}


.fa-mobile-alt, .fa-list, .fa-store{
    position: relative;
    right: 5px;
    margin: 30px 10px;

}

.restaurant{
    background-color: $quaternaire;
    padding: 60px 20px 65px 20px;
}

.restaurant_choice{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px 20px 20px 20px;
    border: solid 3px $quaternaire;
    margin: 18px 0;
    box-shadow: 10px 10px 10px 10px $quaternaire;
    position: relative;
}

.restaurant_choice img{
    width: 335px;
    object-fit: cover;
    height: 175px;
    border-radius: 20px 20px 0 0;
}
.new{
    background-color: $tertiaire;
    color: #2c9c81;
    padding: 4px 10px;
    border-radius: 2px;
    position: absolute;
    left: 65%;
    top: 5%;
}

.clignote {
    animation: clignote 0.5s linear infinite;
  }

  @keyframes clignote{
      0%{
          opacity: 0;
      }
      100%{
          opacity: 1;
      }
  }

.info_restaurant{
    background: $quinquenaire;
    max-width: 100%;
    padding: 20px 15px;
    border-radius: 0 0 20px 20px;
}

.favoris{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favoris i{
    font-size: 20px;
}

/*Remplissage du coeur*/
.coeur {
    cursor: pointer;
    &:hover {
      animation: fill 0.3s ease-in-out;
      display: inline-block;
      opacity: 1;
      background:linear-gradient(to top left, $primaire, $secondaire);
      background:-webkit-linear-gradient(to top left, $primaire, $secondaire);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent; 
      font-weight: bold;
    }
  }


.info_restaurant p
{
    padding-top: 15px;
}

.footer{
    background-color: #353535;
    padding: 25px 20px 40px 20px;
}

.footer_bloc
{
    padding: 10px 0;
}

.footer h1{
    color: $quinquenaire;
}
.footer p{
    color: $quinquenaire;
}

.footer_bloc a{
    color: $quinquenaire;
}

/*Pages de menu*/

.before{
    position: absolute;
    left: 10px;
}

.image{
    height: 80%; /*250px*/
    object-fit: cover;
}

.menu{
    background-color: $quaternaire;
    padding: 40px 10px 0 10px; 
    border-radius: 30px 30px 0 0;
    z-index: 1;
    position: relative;
    margin-top: -64px;
    
}

.composition{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.parcourir_1
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 370px;
    padding: 20px 0;
    border-bottom: $tertiaire;
    border-width: 3px;
}

.parcourir_2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 290px;
    padding: 20px 0;

}

.parcourir_choix{
    position: relative;
    padding-bottom: 8px;
    
}

.parcourir_choix::after {
    content: "";
    width: 50px;
    height: 4px;
    background-color: $tertiaire;
    position: absolute;
    left: 0;
    bottom: 10px;
  }

.different_menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    overflow: hidden;
 
}

.parcourir_choix{
    padding: 20px 0;
}

.choix_menu{
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 5px 15px 0 #c3c3c3;
    flex: 1 0 33%;
    overflow: hidden;
    max-width: 100%;
    max-height: 70px;
    animation: apparence 0.5s;

  }
  .choix_menu:hover {
    box-shadow: 0 5px 15px 0 #9d9d9d;
  }
  .choix_menu .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    text-align: right;
  }
  .choix_menu .coche{
    display: none;
    width: 30%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }

  .choix_menu .fa-check-circle{
    font-size: 24px;
    color: $quinquenaire;
    /*transform: rotate(360deg);*/
  }
  
  .choix_menu:hover .price{
    animation: coche-contain ease 0.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    min-width: 50px;
  }
  
  .choix_menu:hover .coche{
    display: block;
    flex: 0 0 15%;
    background: #99e2d0;
    max-width: 50px;
    overflow: hidden;
    animation: coche ease 0.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    
  }
  
  .choix_menu:hover .fa-check-circle {
    position: absolute;
    left: 27%;
    top: 30%;
    background: #99e2d0;
    animation: valide ease 0.5s 1;
  }

  .cout, h4, p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 218px
  }
  
  .cout{
    width: 80%;
    padding: 10px;
  }
  
  
  
  /*Animation de l'icone validation */
  @keyframes valide{
    0% {
      transform: rotade(-90deg);
    }
    20% {
      transform: rotade(-75deg) scale(1.03);
    }
    40% {
      transform: rotade(-60deg) scale(1.08);
    }
    60% {
      transform: rotate(-45deg) scale(1.15);
    }
    80% {
      transform: rotade(-30deg) scale(1.08);
    }
    100% {
      transform: rotate(5deg) scale(1);
    }
  }
  /*Animation du checkbox */
  @keyframes coche {
    0% {
      transform: translate(50px, 0);
    }
    20% {
      transform: translate(30px, 0);
    }
    40% {
      transform: translate(20px, 0);
    }
    60% {
      transform: translate(15px, 0);
    }
    80% {
      transform: translate(7px, 0);
    }
    100% {
      transform: translate(1px, 0);
    }
  }
  @keyframes coche-contain {
    0% {
      transform: translate(50px, 0);
    }
    40% {
      transform: translate(25px, 0);
    }
    70% {
      transform: translate(12px, 0);
    }
    100% {
      transform: translate(1px, 0);
    }
  }

.delai_0{
    animation-delay: 0s;
}

.delai_1{
    animation-delay: 0.1s;

}
.delai_2{
    animation-delay: 0.2s;
}

.delai_3{
    animation-delay: 0.3s;
}

.delai_4{
    animation-delay: 0.4s;
}

.delai_5{
    animation-delay: 0.5s;
}

.delai_6{
    animation-delay: 0.6s;
}

.delai_7{
    animation-delay: 0.7s;
}

.delai_8{
    animation-delay: 0.8s;
}

@keyframes apparence{
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }


/*Responsive*/

@media all and (min-width: 375px)
{
    .cout, h4, p{
        max-width: 260px;
    }

    .new{
        left: 70%;
        
    }

}

@media all and (min-width: 425px){
    .restaurant_choice img{
        width: 380px;
    }
    .new{
        left: 75%;
        
    }

    .cout, h4, p{
        max-width: 300px;
    }

}

@media all and (min-width: 768px)
{
    .fonctionnement{
        height: auto;
    }

    .fonctionnement_titre{
        margin: 12px;
    }

    .fonctionnement_bloc
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .bloc{
        width: 45%;
        margin: 10px;
    }


    div .logo{
        padding-left: 12px;
    }

    .cout h4, p{
        width: 100%;
    }

    .restaurant_choice img{
        width: 748px;
    }

    .new{
        left: 87%;
        
    }

    .footer_rubrique{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .footer_bloc{
       max-width: 35%;
        padding: 20px 12px;
    }

   
}

@media all and (min-width: 1024px)
{

    .fonctionnement{
        height: 200px;
    }

    .fonctionnement_bloc
    {
        flex-wrap: nowrap;
    }


    .choice{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }


    .restaurant_choice
    {
        max-width: 47%;
        margin: 10px;

    }

    .restaurant_choice img{
        height: 175px;
    }

    .new{
        left: 80%;
        
    }

    .composition{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        height: 400px;
    }
    
    .parcourir{
        width: 30%;
    }

    .cout h4, p{
        max-width: 220px;
    }

}


/*.menu{
    
    height: auto;
}*/

@media all and (min-width:1440px)
{
    .new{
        left: 85%;
        
    }
    .parcourir_1{
        width: 450px;

    }

    .parcourir_2{
        width: 450px;
    }

}