*
{
    margin: 0;
    padding: 0;
}

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$quaternaire:#f6f6f6;
$quinquenaire: #fff;

body{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
/*loader*/

.loader {
    /*background:linear-gradient(to left, $primaire, $secondaire);*/
    background-color: $quinquenaire;
    width: 100%;
    height: 100%;
    line-height: 100%;
    font-family: Shrikhand, sans-serif;
    font-size: x-large;
    vertical-align: middle;
    text-align: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    pointer-events: none;
    animation: loader 1s ease-in-out 3s forwards;
}

.nom {
    vertical-align: middle;
    position: absolute;
    
    top: 40%;
    left: 20%;
    /*left: 20%;*/
}

.nom span {
    display: inline-block;
    width: 5px;
    height: 20px;
    padding-right: 16px;
    background: linear-gradient(to left,$primaire, $secondaire);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 15px;
   /* animation: grow 1.2 linear infinite;*/

}


/*.lettre{
background: linear-gradient(to left,$primaire, $secondaire);
background-clip: text;
-webkit-background-clip: text;
color: transparent;*
color: #484848;
font-size: 80px;
letter-spacing: 15px;
margin-bottom: 150px;
animation: flash 1.2 linear infinite;*
}*/

.loader_circle {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: -60%;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    //overflow: hidden;
    box-shadow: 0 0 5px transparent;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: linear-gradient(transparent, $tertiaire);
      animation: spin .5s infinite linear;
    }
    /*&:after {
      content: "";
      position: absolute;
      width: 95%;
      height: 95%;
      top: 2.5%;
      left: 2.5%;
      background-color: transparent;
      border-radius: 50%;
      box-shadow: inset 0 0 5px #444;
    }*/
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

/*.loader_fork {
vertical-align: middle;
position: absolute;
top:50%;
left: 50%;
animation: rotate 1s linear infinite;
}*/
.nom span:nth-child(1) {
    animation-delay: grow 0.2s;
    /*animation: grow 1s ease-in-out infinite;*/
  }
  .nom span:nth-child(2) {
    /*animation: grow 1s ease-in-out 0.15s infinite;*/
    animation-delay: grow 0.4s;
  }
  .nom span:nth-child(3) {
   /* animation: grow 1s ease-in-out 0.15s infinite;*/
    animation-delay: grow 0.6s;
  }
  .nom span:nth-child(4) {
    /*animation: grow 1s ease-in-out 0.15s infinite;*/
    animation-delay: grow 0.8s;
  }
  .nom span:nth-child(5) {
   /* animation: grow 1s ease-in-out 0.15s infinite;*/
    animation-delay: grow 0.10s;
  }
  .nom span:nth-child(6) {
   /* animation: grow 1s ease-in-out 0.15s infinite;*/
    animation-delay: grow 0.12s;
  }
  .nom span:nth-child(7) {
    /*animation: grow 1s ease-in-out 0.15s infinite;*/
    animation-delay: grow 0.14s;
  }
  .nom span:nth-child(8) {
    /*animation: grow 1s ease-in-out 0.15s infinite;*/
    animation-delay: grow 0.16s;
  }
  

  @keyframes grow {
    0%, 100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
    50% {
      -webkit-transform: scaleY(1.8);
      transform: scaleY(1.8);
    }
  }
  @keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes loader {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }
  /*@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fill {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }*/
  
/*.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    /*background: $quinquenaire;*
    background: $quinquenaire/*#000*;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lettre{
/*background: linear-gradient(to left,$primaire, $secondaire);
background-clip: text;
-webkit-background-clip: text;
color: transparent;*
color: #484848;
font-size: 80px;
letter-spacing: 15px;
margin-bottom: 150px;
animation: flash 1.2 linear infinite;
}

@keyframes flash{
    0% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900;
    }
    90%{
        color: #484848;
      /*background: linear-gradient(to left,$primaire, $secondaire);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;*
        text-shadow: none;
    }
    100%{
        color: #fff900;
        text-shadow: 0 0 7px #fff900;
    }
}

.lettre:nth-child(1){
    animation-delay: 0,1s;
}
.lettre:nth-child(2){
    animation-delay: 0,2s;
}
.lettre:nth-child(3){
    animation-delay: 0,3s;
}
.lettre:nth-child(4){
    animation-delay: 0,4s;
}
.lettre:nth-child(5){
    animation-delay: 0,5s;
}
.lettre:nth-child(6){
    animation-delay: 0,6s;
}
.lettre:nth-child(7){
    animation-delay: 0,7s;
}
.lettre:nth-child(8){
    animation-delay: 0,8s;
}*/


img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.wrapper{
    margin: 0 auto;
}




/*.attente{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 200px;
    height:200px;
    background: transparent;
    border:3px dashed $tertiaire;
    border-radius:50%;
    text-align: center;
    line-height:150px;
    font-family:shrikhand, sans-serif;
    font-size:20px;
    color: black;
    letter-spacing:4px;
    text-shadow:0 0 10px black;
    box-shadow:0 0 20px rgba(0,0,0,.5);
}

.attente:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid $primaire;
  border-right:3px solid $secondaire;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}

span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}

span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:linear-gradient($primaire, $secondaire);  
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px black;
}

@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}*/

a{
    text-decoration: none;
}

.logo{
    font-family: Shrikhand, sans-serif;
    position: relative;
    
}

h2, h3, h4, p{
    font-family: roboto, sans-serif;
    color: black;
}

h2{
    font-size: 30px;
    color: black;
}

.icone{
    color: black;

}

.bouton{
    width: 210px;
    height: 50px;
    border-radius: 50px 50px 50px 50px;
    border: 1px solid;
    color: $quinquenaire;
    background: linear-gradient(to top left, $primaire, $secondaire); 
    box-shadow: 3px 3px 3px #f5efef;
    cursor: pointer;
}

.bouton:hover{
    background-color: lighten(#9356dc, 10%);
    background-blend-mode: lighten;
    box-shadow: darken(#f5efef, 10%) 4px 4px 6px;/*4px 4px 6px #000*/
}

header{
    height: 62px;
    padding: 30px 0 20px 0; 
    align-items: center;
}

header .logo{
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
}

.localisation{
    display: flex; /*ajouter le 12_08_2021  pour center localisation*/
    justify-content: center;/*ajouter le 12_08_2021*/
    height: 50px;
    background-color: #eaeaea;
    padding: 15px 0;
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
}

.choix{
    text-align: center;
    background-color: $quaternaire; 
    padding: 45px 20px 55px 20px;
}

.choix h3{
    padding: 20px 0 35px 0;
}

.fonctionnement{
    background-color: $quinquenaire;
    height: 440px;
    padding: 50px 20px 0 20px;
}

.fonctionnement_bloc{
    height: 275px;    
}

.bloc{
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    background-color: $quaternaire;
    border-radius: 20px 20px 20px 20px;
    border: solid 1px $quinquenaire;
    margin: 20px 0;
    position: relative;

}

.bloc_number
{
    position: relative;
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: $primaire;
    border-radius: 50%;
    color: $quinquenaire;
    line-height: 25px;
    right: 10px;
    margin: 30px 0;
}

.boc p{
    margin: 30px 10px;

}

.bloc:hover{
    background: #f2eafb;
}

.bloc:hover .fas{
    color: $primaire;
}


/*.bloc_information{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}*/

.fa-mobile-alt, .fa-list, .fa-store{
    position: relative;
    right: 5px;
    margin: 30px 10px;

}

.restaurant{
    background-color: $quaternaire;
    padding: 60px 20px 65px 20px;
}

.restaurant_choice{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px 20px 20px 20px;
    border: solid 3px $quaternaire;
    margin: 18px 0;
    box-shadow: 10px 10px 10px 10px $quaternaire;
    position: relative;
}

.restaurant_choice img{
    width: 100%;
    object-fit: cover;
    height: 175px;
    border-radius: 20px 20px 0 0;
}
.new{
    background-color: $tertiaire;
    color: #2c9c81;
    padding: 4px 10px;
    border-radius: 2px;
    position: absolute;
    left: 65%;
    top: 5%;

}
   

.info_restaurant{
    background: $quinquenaire;
    max-width: 100%;
    padding: 20px 15px;
    border-radius: 0 0 20px 20px;
}

.favoris{
    display: flex;
    justify-content: space-between;
}

.favoris i{
    font-size: 20px;
}

/*Remplissage du coeur*/
.coeur {
    /*color: black;*/
    cursor: pointer;
    &:hover {
      animation: fill 0.3s ease-in-out;
      display: inline-block;
      opacity: 1;
      background:linear-gradient(to top left, $primaire, $secondaire);
      background:-webkit-linear-gradient(to top left, $primaire, $secondaire);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent; 
      font-weight: bold;
    }
  }


.info_restaurant p
{
    padding-top: 15px;
}

.footer{
    background-color: #353535;
    padding: 25px 20px 40px 20px;
}

.footer_bloc
{
    padding: 10px 0;
}

.footer h2{
    color: $quinquenaire;
}
.footer p{
    color: $quinquenaire;
}

.footer_bloc a{
    color: $quinquenaire;
}

/*Pages de menu*/

.before{
    position: absolute;
    left: 10px;
}

.image{
    max-height: 80%; /*250px*/
    object-fit: cover;
}

.menu{
    background-color: $quaternaire;
    padding: 40px 10px 0 10px; 
    border-radius: 30px 30px 0 0;
    z-index: 1;
    position: relative;
    margin-top: -64px;
    /*height: 1200px;*/
}

.composition{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 1100px;
}

.parcourir_1
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 370px;
    padding: 20px 0;
    border-bottom: $tertiaire;
    border-width: 3px;
}

.parcourir_2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 290px;
    padding: 20px 0;
}

.parcourir_choix{
    position: relative;
    padding-bottom: 8px;
    /*font-weight: normal;*/
}

.parcourir_choix::after {
    content: "";
    width: 50px;
    height: 4px;
    background-color: $tertiaire;
    position: absolute;
    left: 0;
    bottom: 10px;
  }

.different_menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    overflow: hidden;
}

.parcourir_choix{
    padding: 20px 0;
}

.choix_menu{
    background: $quinquenaire;
    max-width: 100%;
    padding: 10px 15px 20px 15px;
    border-radius: 20px;
    max-height: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
    cursor: pointer;
    animation: apparence 0.6s;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    animation-fill-mode: both;
    transform: scale(0);
}

.delai_0{
    animation-delay: 0s;
}

.delai_1{
    animation-delay: 0.1s;

}
.delai_2{
    animation-delay: 0.2s;
}

.delai_3{
    animation-delay: 0.3s;
}

.delai_4{
    animation-delay: 0.4s;
}

.delai_5{
    animation-delay: 0.5s;
}

.delai_6{
    animation-delay: 0.6s;
}

.delai_7{
    animation-delay: 0.7s;
}

.delai_8{
    animation-delay: 0.8s;
}

@keyframes apparence {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1);
    }
  }
/*.vignets {
    
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox *
    -webkit-animation: fadein 2s; /* Safari et Chrome *
    -o-animation: fadein 2s; /* Opera *
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox *
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome *
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera *
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}*/


.cout h4, p{
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.price{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 10px;
    font-weight: 700;
    
}

.coche {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tertiaire;
    width: 10px;
    max-height: 70px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    padding: 18px;
    right: -50px;
    top: 0;
    opacity: 0;
    transition: transform 330ms ease-in-out;

}

/*animation coche*/
.coche .fa-check-circle {
    color: #fff;
    transition: transform 500ms ease-in-out;
}

.choix_menu:hover .coche{
    opacity: 1;
    transform: translate(-50px);
}
.choix_menu:hover .fa-check-circle{
    transform: rotate(360deg);
}

/*Responsive*/

@media all and (min-width: 375px)
{
    .cout h4, p{
        max-width: 270px;
    }

}

@media all and (min-width: 768px)
{
    .fonctionnement{
        height: auto;
    }

    .fonctionnement_titre{
        margin: 12px;
    }

    .fonctionnement_bloc
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .bloc{
        width: 45%;
        margin: 10px;
    }


    div .logo{
        padding-left: 12px;
    }

    .cout h4, p{
        max-width: 100%;
    }

    .footer_rubrique{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .footer_bloc{
       max-width: 35%;
        padding: 20px 12px;
    }

   
}

@media all and (min-width: 1024px)
{

    .fonctionnement{
        height: 200px;
    }

    .fonctionnement_bloc
    {
        flex-wrap: nowrap;
    }


    .choice{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }


    .restaurant_choice
    {
        max-width: 47%;
        margin: 10px;

    }

    .restaurant_choice img{
        height: 175px;
    }

    .composition{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        height: 400px;
    }
    
    .parcourir{
        width: 30%;
    }

    /*.image{
        height: 800px;
    }*/

}


.menu{
    
    height: auto;
}

@media all and (width: 1024px)
{
    .cout h4, p{
        max-width: 220px;
    }
}
