* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

/*loader*/
.container {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  -webkit-animation: container 2.5s;
          animation: container 2.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  height: 20px;
  position: absolute;
  width: 250px;
  line-height: 100%;
  vertical-align: middle;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loader--dot {
  -webkit-animation-name: loader;
          animation-name: loader;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}

.loader--dot:first-child {
  background-color: #9356DC;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader--dot:nth-child(2) {
  background-color: #FF79DA;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loader--dot:nth-child(3) {
  background-color: #99E2D0;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.loader--text {
  position: absolute;
  width: 100%;
  top: 200%;
  left: 0;
  right: 0;
  margin: auto;
  background: linear-gradient(to left, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 15px;
}

.loader--text:after {
  content: "ohmyfood";
  font-weight: bold;
  -webkit-animation-name: loading-text;
          animation-name: loading-text;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}
@-webkit-keyframes loading-text {
  0% {
    content: "ohmyfood";
  }
  25% {
    content: "ohmyfood.";
  }
  50% {
    content: "ohmyfood..";
  }
  75% {
    content: "ohmyfood...";
  }
}
@keyframes loading-text {
  0% {
    content: "ohmyfood";
  }
  25% {
    content: "ohmyfood.";
  }
  50% {
    content: "ohmyfood..";
  }
  75% {
    content: "ohmyfood...";
  }
}
@-webkit-keyframes container {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes container {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.logo {
  font-family: Shrikhand, sans-serif;
  position: relative;
}

h2, h3, h4, p {
  font-family: roboto, sans-serif;
  color: black;
}

h2 {
  font-size: 30px;
  color: black;
}

.icone {
  color: black;
}

.bouton {
  width: 210px;
  height: 50px;
  border-radius: 50px 50px 50px 50px;
  border: 1px solid;
  color: #fff;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  box-shadow: 3px 3px 3px #f5efef;
  cursor: pointer;
}

.bouton:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: #e1d0d0 4px 4px 6px;
}

header {
  height: 62px;
  padding: 30px 0 20px 0;
  align-items: center;
}

header .logo {
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
}

.localisation {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: #eaeaea;
  padding: 15px 0;
  vertical-align: middle;
  line-height: 50px;
  text-align: center;
}

.choix {
  text-align: center;
  background-color: #f6f6f6;
  padding: 45px 20px 55px 20px;
}

.choix h3 {
  padding: 20px 0 35px 0;
}

.fonctionnement {
  background-color: #fff;
  height: 440px;
  padding: 50px 20px 0 20px;
}

.fonctionnement_bloc {
  height: 275px;
}

.bloc {
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  background-color: #f6f6f6;
  border-radius: 20px 20px 20px 20px;
  border: solid 1px #fff;
  margin: 20px 0;
  position: relative;
}

.bloc_number {
  position: relative;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: #9356DC;
  border-radius: 50%;
  color: #fff;
  line-height: 25px;
  right: 10px;
  margin: 30px 0;
}

.boc p {
  margin: 30px 10px;
}

.bloc:hover {
  background: #f2eafb;
}

.bloc:hover .fas {
  color: #9356DC;
}

.fa-mobile-alt, .fa-list, .fa-store {
  position: relative;
  right: 5px;
  margin: 30px 10px;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 60px 20px 65px 20px;
}

.restaurant_choice {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px 20px 20px 20px;
  border: solid 3px #f6f6f6;
  margin: 18px 0;
  box-shadow: 10px 10px 10px 10px #f6f6f6;
  position: relative;
}

.restaurant_choice img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 175px;
  border-radius: 20px 20px 0 0;
}

.new {
  background-color: #99E2D0;
  color: #2c9c81;
  padding: 4px 10px;
  border-radius: 2px;
  position: absolute;
  left: 65%;
  top: 5%;
}

.info_restaurant {
  background: #fff;
  max-width: 100%;
  padding: 20px 15px;
  border-radius: 0 0 20px 20px;
}

.favoris {
  display: flex;
  justify-content: space-between;
}

.favoris i {
  font-size: 20px;
}

/*Remplissage du coeur*/
.coeur {
  cursor: pointer;
}
.coeur:hover {
  -webkit-animation: fill 0.3s ease-in-out;
          animation: fill 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  background: -webkit-linear-gradient(to top left, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.info_restaurant p {
  padding-top: 15px;
}

.footer {
  background-color: #353535;
  padding: 25px 20px 40px 20px;
}

.footer_bloc {
  padding: 10px 0;
}

.footer h2 {
  color: #fff;
}

.footer p {
  color: #fff;
}

.footer_bloc a {
  color: #fff;
}

/*Pages de menu*/
.before {
  position: absolute;
  left: 10px;
}

.image {
  height: 80%;
  /*250px*/
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  background-color: #f6f6f6;
  padding: 40px 10px 0 10px;
  border-radius: 30px 30px 0 0;
  z-index: 1;
  position: relative;
  margin-top: -64px;
  /*height: 1200px;*/
}

.composition {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 1100px;
}

.parcourir_1 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 370px;
  padding: 20px 0;
  border-bottom: #99E2D0;
  border-width: 3px;
}

.parcourir_2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 290px;
  padding: 20px 0;
}

.parcourir_choix {
  position: relative;
  padding-bottom: 8px;
  /*font-weight: normal;*/
}

.parcourir_choix::after {
  content: "";
  width: 50px;
  height: 4px;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 10px;
}

.different_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  overflow: hidden;
}

.parcourir_choix {
  padding: 20px 0;
}

.choix_menu {
  background: #fff;
  max-width: 100%;
  padding: 10px 15px 20px 15px;
  border-radius: 20px;
  max-height: 70px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
  cursor: pointer;
  -webkit-animation: apparence 0.6s;
          animation: apparence 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
          animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  transform: scale(0);
}

.delai_0 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.delai_1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.delai_2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.delai_3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.delai_4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.delai_5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.delai_6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.delai_7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.delai_8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes apparence {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes apparence {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.cout h4, p {
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 10px;
  font-weight: 700;
}

.coche {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 10px;
  max-height: 70px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 18px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}

/*animation coche*/
.coche .fa-check-circle {
  color: #fff;
  transition: transform 500ms ease-in-out;
}

.choix_menu:hover .coche {
  opacity: 1;
  transform: translate(-50px);
}

.choix_menu:hover .fa-check-circle {
  transform: rotate(360deg);
}

/*Responsive*/
@media all and (min-width: 375px) {
  .cout h4, p {
    max-width: 270px;
  }
}
@media all and (min-width: 768px) {
  .fonctionnement {
    height: auto;
  }

  .fonctionnement_titre {
    margin: 12px;
  }

  .fonctionnement_bloc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .bloc {
    width: 45%;
    margin: 10px;
  }

  div .logo {
    padding-left: 12px;
  }

  .cout h4, p {
    max-width: 100%;
  }

  .footer_rubrique {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer_bloc {
    max-width: 35%;
    padding: 20px 12px;
  }
}
@media all and (min-width: 1024px) {
  .fonctionnement {
    height: 200px;
  }

  .fonctionnement_bloc {
    flex-wrap: nowrap;
  }

  .choice {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .restaurant_choice {
    max-width: 47%;
    margin: 10px;
  }

  .restaurant_choice img {
    height: 175px;
  }

  .composition {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
  }

  .parcourir {
    width: 30%;
  }
}
.menu {
  height: auto;
}

@media all and (width: 1024px) {
  .cout h4, p {
    max-width: 220px;
  }
}/*# sourceMappingURL=style.css.map */