
/*animation loader spinner*/

@keyframes loader {
    15% {
      transform: translateX(0);
    }
    45% {
      transform: translateX(230px);
    }
    65% {
      transform: translateX(230px);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes loading-text {
    0% {
      content: "ohmyfood";
    }
    25% {
      content: "ohmyfood.";
    }
    50% {
      content: "ohmyfood..";
    }
    75% {
      content: "ohmyfood...";
    }
}
@keyframes container {
   
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}

/*animation "nouveau" clignotant*/
.clignote {
    animation: clignote 0.5s linear infinite;
  }

@keyframes clignote{

    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }
  }


/*animation apparition des plats*/
@keyframes apparence{
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
} 

  /*Animation du checkbox */
@keyframes coche {
    0% {
      transform: translateX(50px);
    }
    20% {
      transform: translateX(30px);
    }
    40% {
      transform: translateX(20px);
    }
    60% {
      transform: translateX(15px);
    }
    80% {
      transform: translateX(7px);
    }
    100% {
      transform: translateX(1px);
    }
  }
  @keyframes coche-contain {
    0% {
      transform: translateX(50px);
    }
    40% {
      transform: translateX(25px);
    }
    70% {
      transform: translateX(12px);
    }
    100% {
      transform: translateX(1px);
    }
  }

