/*Pages de menu*/

/*Flèche précédent située au niveu du header*/

.before{
    position: absolute;
    left: 10px;
}

.image{
    height: 80%;
    object-fit: cover;
}

.menu{
    background-color: $quaternaire;
    padding: 40px 10px 0 10px; 
    border-radius: 30px 30px 0 0;
    z-index: 1;
    position: relative;
    margin-top: -64px;
}

.composition{
    @include disposition_column;
    @include laptop{
        @include dispotion_horizontale;
        height: 400px;
    }
}

.composition__parcourir_1
{
    @include disposition_column;
    height: 370px;
    padding: 20px 0;
    border-bottom: $tertiaire;
    border-width: 3px;
    @include laptop{
        width: 32%;
    }
}

.composition__parcourir_2{
    @include disposition_column;
    height: 290px;
    padding: 20px 0;
    @include laptop{
        width: 32%;
    }
}

.composition__bloc{
    @include disposition_column;
    height: inherit;
    overflow: hidden;
}

.composition__titre{
    position: relative;
    padding-bottom: 8px;
    padding: 20px 0;
    &:after{
        content: "";
        width: 50px;
        height: 4px;
        background-color: $tertiaire;
        position: absolute;
        left: 0;
        bottom: 10px;
    }
}

.composition__choix{
    display: flex;
    justify-content: space-between;
    background: $quinquenaire;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 20px 20px #f5efef;
    flex: 1 0 33%;
    overflow: hidden;
    max-width: 100%;
    max-height: 70px;
    animation: apparence 0.5s;
    &:hover{
        .composition__menu--price{
            animation: coche-contain ease 0.3s;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
            min-width: 50px;
        }
        .composition__menu--coche{
            display: block;
            flex: 0 0 15%;
            background: #99e2d0;
            max-width: 50px;
            overflow: hidden;
            animation: coche ease 0.3s;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
            transform-origin: 50% 50%;  
        }
        .fa-check-circle {
            position: absolute;
            left: 27%;
            top: 30%;
            background: #99e2d0;
            animation: valide ease 0.5s 1;
        }
    }
}

 /*Boucle pour l'apparition des plats avec un léger décalage*/

 @for$i from 0 through 8 {
    .delai_#{$i} {
        animation-delay: ($i * 0.1s);
    }
  }

.composition__menu--price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    text-align: right;
    font-weight: bold;
}

.composition__menu--coche{
    display: none;
    width: 30%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.fa-check-circle{
    font-size: 24px;
    color: $quinquenaire;
    
}
.composition__menu{
    width: 80%;
    padding: 10px;   
}

/*Rognage du texte avec les points de suspension*/
.composition__menu, h4, p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 218px;
    @include smartphone-m{
        max-width: 260px;
    }
    @include mobile_l{
        max-width: 300px;
    }
    @include tablet{
        width: 100%;
    }
    @include laptop{
        max-width: 220px;
    }
    @include laptop_l{
        max-width: 400px;
    }
  }
  